<div class="landing-page">
  <h2 class="text-center">Welcome To</h2>
  <h1 class="landing-page-title">Lift -Mate</h1>
  <h3 class="text-center">
    Lift-Mate can help you track your workouts, see your progress, and share what you've accomplished.
  </h3>
  <div class="grid-x grid-margin-x">
    <div class="cell small-5">
      <div class="screen-shot">
        Shot 1
      </div>
    </div>
    <div class="cell small-2 text-center">
      <i class="fas fa-arrow-right fa-4x"></i>
    </div>
    <div class="cell small-5">
      <div class="screen-shot">
        Shot 2
      </div>
    </div>
  </div>
  <div class="actions text-center grid-x">
    <%= link_to 'Sign Up', new_user_registration_path, { class: "call-to-action cell small-12" } %>
    <div class="secondary-action">
      <h6>Already have an account? </h6>
      <%= link_to 'Log In', new_user_session_path %>
    </div>
  </div>
</div>
