.activity-edit-tile {
  padding-top: 35px;
  padding-bottom: 25px;
  border-bottom: 2px black solid;

  .exercise-name {
    margin: auto;
    text-align: center;

    h4 {
      font-size: 1.75em;
      font-weight: bold;
      display: inline-block;
    }

    h5 {
      display: inline-block;
      font-size: 1.75em;
      font-weight: bold;
      color: #028F76;
    }

    h5:hover {
      color: #018069;
    }
  }

  .tile-input {
    margin-top: 4px;
    border-radius: 6px;
  }

  .tile-label {
    font-size: 1.5em
  }

  select {
    text-align: center;
    font-size: .9em;
  }
}

.add-activity-tile {
  padding-top: 30px;
}
