.devise-page {
  background: rgba(0, 0, 0, 0.5);
  max-width: 900px;
  padding: 20px;
  padding-top: 30px;
  margin: auto;
  border-radius: 30px;
  color: white;

  h2 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 3em;
  }

  label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    margin-bottom: -25px;
    color: white;
  }

  .warning {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 2px;
  }

  .password-label {
    display: inline-block;
  }

  #error_explanation h2 {
    font-size: 2em;
  }

  .devise-link {
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 10px;
    padding: 10px;
    color: #FFEAAD;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .devise-link:hover {
    color: #FCDF8A;
  }

  .twitter-button {
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 5px 10px;
    background-color: #1DA1F2;
    border-radius: 25px;

    .twitter-link {
      color: white;
      font-size: 20px;
      font-family: 'Source Sans Pro', sans-serif;
    }

    .fa-twitter {
      margin-left: 5px;
    }
  }

  .twitter-button:hover {
    background-color: #1B91D9;
  }

  .link-container {
    text-align: right;
  }

  .main-action {
    display: inline-block;
    background-color: #028F76;
    padding: 10px;
    border: none;
    border-radius: 30px;
    color: #FFEAAD;
    font-family: 'Source Sans Pro', sans-serif;
    width: 150px;
    height: 44px;
    font-size: 20px;
    font-weight: bold;
  }

  .main-action:hover {
    background-color: #018069;
    color: #FCDF8A;
  }

  .long {
    width: auto;
  }
}
