.landing-page {
  background: rgba(0, 0, 0, 0.5);
  width: 900px;
  padding: 20px;
  padding-top: 30px;
  margin: auto;
  border-radius: 30px;
  color: white;

  h3 {
    padding-top: 30px;
  }

  .landing-page-title {
    font-family: 'Galada', cursive;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
  }

  p {
    text-align: justify;
  }

  .screen-shot {
    margin-top: 50px;
    border: 2px solid white;
    border-radius: 30px;
    padding: 20px;
    height: 300px;
  }

  i {
    margin-top: 170px;
  }

  .actions {
    padding-top: 20px;

    .call-to-action {
      font-size: 2em;
      font-weight: bold;
      background-color: #028F76;
      border-radius: 40px;
      padding: 10px;
      color: #FFEAAD;
      width: 100%;
    }

    .secondary-action {
      padding-top: 10px;
      margin: auto;

      h6 {
        display: inline-block;
        font-size: 1.5em;
      }

      a {
        padding-left: 3px;
        display: inline-block;
        color: #028F76;
        font-size: 1.5em;
      }
    }
  }
}
