.landing-page {
  background: rgba(0, 0, 0, 0.5);
  max-width: 1200px;
  padding: 20px;
  padding-top: 30px;
  margin: auto;
  border-radius: 30px;
  color: white;

  h2 {
    padding-top: 30px;
    font-weight: bold;
  }

  .landing-page-title {
    font-family: 'Galada', cursive;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
  }

  h3 {
    font-weight: bold;
    text-align: center;
  }

  h4 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: -40px;
  }

  .screen-shot {
    margin-top: 50px;
    border: 2px solid white;
    border-radius: 30px;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .summary {
    background: image-url('workout_summary.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  	max-width: 100%;
    height: 100%;
    background-position: center;
  }

  .progress {
    background: image-url('progress_chart.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  	max-width: 100%;
  	height: 100%;
    background-position: center;
  }

  i {
    margin-top: 170px;
  }

  .actions {
    padding-top: 20px;

    .call-to-action {
      font-size: 2em;
      font-weight: bold;
      background-color: #028F76;
      border-radius: 40px;
      padding: 10px;
      color: #FFEAAD;
      width: 100%;
      margin-top: 50px;
    }

    .call-to-action:hover {
      background-color: #018069;
      color: #FCDF8A;
    }

    .secondary-action {
      padding-top: 10px;
      margin: auto;

      h6 {
        display: inline-block;
        font-size: 1.5em;
      }

      a {
        padding-left: 3px;
        display: inline-block;
        color: #FFEAAD;
        font-size: 1.5em;
      }

      a:hover {
        color: #FCDF8A;
      }
    }
  }
}
