.top-bar {
  background-color: #028F76;
  padding: 0px;
  min-height: 45px;

  .layout-title {
    color: #FFEAAD;
    margin-left: 10px;
  }

  .layout-title:hover {
    color: #FCDF8A;
    background-color: #028F76;
  }

  h1 {
    font-family: 'Galada', cursive;
    text-decoration: underline;
    margin-left: 10px;
  }

  li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  ul {
    background-color: #028F76;
    margin-right: 10px;
  }

  .button {
    background-color: #028F76;
    margin-bottom: 0px;
    margin-right: 10px;
    padding: 0px;
  }

  a {
    color: #FFEAAD;
  }

  a:hover {
    background-color: #018069;
    color: #FCDF8A;
  }

  i.fa-2x {
    color: black;
    padding-right: 10px;
  }

  i:hover {
		color: #A2A2A2;
	}
}

.background {
  background: image-url('weights.jpg');
  background-repeat: no-repeat;
  background-size:cover;
	min-width: 100vw;
	min-height: 100vh;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}
