.new-workout-page {
  max-width: 1500px;

  label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    margin-bottom: -25px;
    text-align: center;
  }

  input {
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center;
  }

  .exercise-list {
    margin-left: auto;
    margin-right: auto;
  }

  .first-option-hidden option:first-of-type{
    display: none;
  }

  .bodypart-list{
    padding-bottom: 20px;
  }

  .body-image-container {
    border: 2px solid black;
    border-radius: 30px;

    .body-image {
      height: 200px;
    }

    .top {
      border-bottom: 1px outset grey;
      margin: auto;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }

    .middle {
      border-bottom: 1px outset grey;
      margin: auto;
    }

    .bottom {
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .bottom:hover {
      background: rgba(0, 0, 0, 0.2);
    }

    .top:hover {
      background: rgba(0, 0, 0, 0.2);
    }

    .middle:hover {
      background: rgba(0, 0, 0, 0.2);
    }

    .selected {
      background-color: black;
      color: white;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-top: 50px;

    .main-action {
      font-size: 2em;
      height: auto;
      width: 100%;

      i {
        margin-left: 20px;
      }
    }
  }
}
