.no-user-background {
	background: image-url('gym_background.jpg');
  background-repeat: no-repeat;
  background-size:cover;
	min-width: 100vw;
	min-height: 100vh;
	padding-bottom: 30px;

	.spacer {
		height: 30px;
		width: 100%;
	}
}

.no-user-navbar {
  background: transparent;
  text-align: center;
  position: relative;
	min-height: 45px;

  ul {
    background: transparent;
  }

  .no-user-layout-title {
    color: #FFEAAD;
    font-family: 'Galada', cursive;
    text-decoration: underline;
    margin: auto;
    display: inline-block;

		a:hover {
	    background: transparent;
	    color: #FCDF8A;
	  }
  }

  .top-bar-section {
    position: absolute;
    right: 10px;
  }

	#no-user-icon {
		color: white;
		padding-right: 10px;
	}

	#no-user-icon:hover {
		color: #A2A2A2;
	}
}

.no-user-navbar:hover {
	background: rgba(2, 143, 118, 0.7);
}
