.page {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  padding-top: 30px;
  margin: auto;
  border-radius: 30px;
  max-width: 1200px;

  .main-action {
    display: inline-block;
    background-color: #028F76;
    padding: 10px;
    border-radius: 30px;
    color: #FFEAAD;
    font-family: 'Source Sans Pro', sans-serif;
    width: 150px;
    height: 44px;
    font-size: 20px;
    font-weight: bold;
  }

  .main-action:hover {
    background-color: #018069;
    color: #FCDF8A;
  }

  .long {
    width: auto;
  }

  .page-title {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

button:focus {
  outline: 0;
}

p:focus {
  outline: 0;
}

input:focus, textarea:focus {
  outline-color: #028F76;
}
