.user-page {
  max-width: 1200px;

  .main-call-out {
    background-color: #028F76;
    padding: 30px;
    border-radius: 20px;
    color: #FFEAAD;
    font-family: 'Galada', cursive;
    font-size: 2.5em;
    font-weight: bold;
    margin: 50px;
  }
}
