.workout-show-page {
  padding: 20px 50px;

  ul {
    margin: 0px;
  }

  li {
    list-style-type: none;
  }

  a {
    color: #028F76;
    font-size: 1.3em;
  }

  .message {
    padding-top: 20px;
  }
}
