.workout-index-page {
  a {
    color: #028F76;
    text-align: center;
  }

  #index-hr {
    width: 50%;
  }

  a {
    padding-top: 10px;
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 0px;
  }

  .workout-tile {
    border-bottom: 2px solid #E7FAF1;
    margin-bottom: 10px;
    vertical-align: middle;
  }
}
