.workout-index-page {
  #index-hr {
    width: 50%;
  }

  a {
    padding-top: 10px;
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 0px;
    color: #028F76;
  }

  a:hover {
    color: #018069;
  }

  .workout-tile {
    border-bottom: 2px solid #E7FAF1;
    margin-bottom: 0px;
    padding-top: 10px;
    vertical-align: middle;
  }

  .workout-tile:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
}
