.workout-show-page {
  padding: 20px 50px;

  ul {
    margin: 0px;
  }

  li {
    list-style-type: none;
  }

  h5{
    font-size: 1.5em;
    
    a {
      color: #028F76;
    }

    a:hover {
      color: #018069;
    }
  }

  .message {
    padding-top: 20px;
  }
}
